		#main .posts{position: relative;}
		#main .posts .loading{padding:150px;text-align:center;font-size:22px;}
		#main .posts > ul, #main .posts > ul > li{list-style:none;padding:0;margin:0;}
		#main .posts > ul > li{margin:10px 0;position: relative;padding:5px 5px;}
		#main .posts > ul > li.general{}
		#main .posts > ul > li.report{}
		#main .posts > ul > li .hdr{position: relative; padding-bottom: 5px; margin:5px;}
		#main .posts > ul > li .hdr .hdricon{font-size:23px;display: inline-block; position:relative; top:-8px; }
		#main .posts > ul > li .hdr .by{display: inline-block; position: relative;top:-4px;left:-5px;}
		#main .posts > ul > li .hdr .by a{color:inherit;}
		#main .posts > ul > li .hdr .by .avatar{display: inline-block; margin-right:5px; width:30px; height: 30px; overflow:hidden;position:relative;border:0.1em;border-style:solid;border-color:inherit;}
		#main .posts > ul > li .hdr .by .avatar img{width:inherit;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
		#main .posts > ul > li .hdr .by .user_det{display: inline-block;}
		#main .posts > ul > li .hdr .by a:hover{opacity:0.7;text-decoration: underline;}
		#main .posts > ul > li .hdr .by .user_score{font-size: 10px; position:relative; top:-10px;padding:3px;}
		#main .posts > ul > li .hdr .by .time {font-size:10px; color: #696969;}
		#main .posts > ul > li .hdr .rank{position: absolute;top:15px;right:10px;width:50px;text-align:center;}
		#main .posts > ul > li .hdr .rank span{font-weight:bold;font-size:14px;}
		#main .posts > ul > li .hdr .rank i{position: absolute;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);cursor:pointer;}
		#main .posts > ul > li .hdr .rank i.up{top:-11px;}
		#main .posts > ul > li .hdr .rank i.upvoted {color: green;}
		#main .posts > ul > li .hdr .rank i.down{bottom:-9px;}
		#main .posts > ul > li .hdr .rank i.downvoted {color:red;}
		#main .posts > ul > li .hdr .rank i.selected{color:#000;}
		#main .posts > ul > li .hdr .rank i.disabled{color:gray;}

		#main .posts > ul > li .content{margin:10px 5px 5px 5px;}
		#main .posts > ul > li .comments{padding-top:5px; margin:10px 5px 5px 5px;}
		#main .posts > ul > li .comments ul{list-style:none;padding:0;margin:0;}
		#main .posts > ul > li .comments ul li{list-style:none;margin:0;border-bottom:solid 1px #f1f1f1;padding:5px 0;}
		#main .posts > ul > li .comments ul li:last-of-type{border-bottom:none;}
		#main .posts > ul > li .comments ul li .label{}
		#main .posts > ul > li .comments ul li .comm_text{}
		#main .posts > ul > li .comments .add{margin-top:10px;}
		#main .posts > ul > li .comments .add .action.input{width:100%;}
		#main .posts > ul > li .comments .add .action.input input{width:100%;}
		#main .posts > ul > li .owner_actions{}
		#main .posts > ul > li .owner_actions button{float:right;}