{% extends "layout.html" %}

{% block head %}
	<style type="text/css">
		style{display:block !important;}
		#main input[type="text"], #main input[type="name"], #main input[type="password"]{margin:5px 0; padding: 5px;}

		#main {display:block; width: 100%; top:100px; background: #E2E2E2; padding: 100px 33.3%;}
		#main .add_post {padding: 20px 0; padding-bottom: 10px; height: 150px;}
		#main .add_post .types {color: black; background:none;}
		#main .add_post .types ul {list-style: none; padding:0; margin:0;}
		#main .add_post .types ul li {display:inline; padding: 5px;}
		#main .add_post .types ul li:hover {color:white; background: grey;}
		#main .add_post .types .selected, #main .add_post .types .selected:hover {color:white; background: black;}
		#main .add_post #post_state {color:red; font-size: 12px}
		
		#main .post_list .post {border: solid 1px; font-size: 16px; margin-top:10px;padding: 10px; background: white;}
		#main .post_list .post .user {display:inline-block;margin-left: 5px;}
		#main .post_list .post .user a {color: white;font-weight: bold;}
		#main .post_list .post .user a:hover {color: teal; background: white; text-decoration: none;}
		#main .post_list .post .timestamp {display:inline-block; float:right; margin-right: 5px;}
		#main .post_list .post .Report {background: teal; color:white;}
		#main .post_list .post .post_text {padding: 10px;}
		#main .post_list .post .General {background: orange; color:white;}
		#main .post_list .post .text {display: block; margin: 5px;}
		#main .post_list .post .post_report {display: block; margin: 5px;}
		#main .post_list .post .post_report a {color: black;}
		#main .post_list .post .post_report a:hover {color: white; background: black; text-decoration: none;}
		#main .post_list .post .more {cursor: pointer;}
		.post {}
		.post .user {}
		.post .post_text {}
		.post .comment_text {padding: 5px;}
		.post .comment .user, .post .comment .comment_text {display: inline-block;}
		.post .actions {border-top: solid 1px; border-bottom: solid 1px; margin:0;padding:0; cursor: pointer;}
		.comment_container { margin: 5px; background-color:#f6f7f9;  font-size: 15px}
		.actions {}
		.glyphicon {font-size: 15px; padding: 5px 10px;}
		.glyphicon:hover {color:teal; background:black;}
		.clickedred {font-size: 15px; padding: 5px 10px; color:red;}
		.clickedgreen {font-size: 15px; padding: 5px 10px;color:green;}
	</style>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('DonkidikApp', [], function($httpProvider){
			// Use x-www-form-urlencoded Content-Type
			  $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

			  /**
			   * The workhorse; converts an object to x-www-form-urlencoded serialization.
			   * @param {Object} obj
			   * @return {String}
			   */ 
			  var param = function(obj) {
			    var query = '', name, value, fullSubName, subName, subValue, innerObj, i;

			    for(name in obj) {
			      value = obj[name];

			      if(value instanceof Array) {
			        for(i=0; i<value.length; ++i) {
			          subValue = value[i];
			          fullSubName = name + '[' + i + ']';
			          innerObj = {};
			          innerObj[fullSubName] = subValue;
			          query += param(innerObj) + '&';
			        }
			      }
			      else if(value instanceof Object) {
			        for(subName in value) {
			          subValue = value[subName];
			          fullSubName = name + '[' + subName + ']';
			          innerObj = {};
			          innerObj[fullSubName] = subValue;
			          query += param(innerObj) + '&';
			        }
			      }
			      else if(value !== undefined && value !== null)
			        query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
			    }

			    return query.length ? query.substr(0, query.length - 1) : query;
			  };

			  // Override $http service's default transformRequest
			  $httpProvider.defaults.transformRequest = [function(data) {
			    return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
			  }];
			}).config(function($interpolateProvider){
				$interpolateProvider.startSymbol('[[');
				$interpolateProvider.endSymbol(']]');
			});
	</script>
	<script type="text/javascript" src="../static/angular/PostsPageController.js"></script>
	<script type="text/javascript" src="../static/angular/postsService.js"></script>
	<script id="select" type="text/x-jsrender">
		<option value="{[:id]}">{[:name]}</option>
	</script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.78/jsrender.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$.views.settings.delimiters("{[","]}");
			//get all posts
			var selected_id = 1;
			function refresh_posts(){
				$.post("api/posts/all/", function(res){
					var postTemplate = $.templates("#post");
					var $post_list = $(".post_list");
					var pl_html = postTemplate.render(res.data);
					// for (var i=res.data.length-1; i>-1; i--){
					// 	pl_html+="<div class=\"post\"><div class=\"" + res.data[i].post_type + "\">" + res.data[i].post_type +" by <a href=\"api/posts/" + res.data[i].id + "/\">"+ res.data[i].author.name + "</a></div><div class=\"text\">" + res.data[i].text + "</div></div>"
					// }
					$post_list.html(pl_html);
				});//end $.post
			}
			//get all post types
			$.post("api/post/types/",function(res){
				var $post_types = $(".types ul").first(),
					ptypes = '';
				for (var i=0; i<res.data.length ; i++){
					ptypes+="<li id=\""+ res.data[i].id + "\">"+ res.data[i].name + "</li>";
				}
				$post_types.html(ptypes);
				$(".types ul li").removeClass("selected"); 
				$(".types ul li").first().addClass("selected");

			});//end $.post
			//get all spots
			$.post("api/spots/get/",function(res){
				var $select = $(".spot select").first();
				var selectTemplate = $.templates("#select");
				var sel_html = selectTemplate.render(res.data);
				var empty_option = "<option disabled='true' selected='true' value=0> -- Spot -- </option>";
				$select.html(empty_option + sel_html);
			});
			//populate knots select
			var $knots_sel = $(".knots select");
			$knots_sel.html("<option disabled='true' value=0 selected='true'> -- Knots -- </option>");
			for (i=1;i<=40;i++){
				$knots_sel.append($('<option></option>').val(i).html(i));
			}
			//listen to changes on selected post type
			$(document).on('click','.types ul li',function(){
				$(".types ul li").removeClass("selected");
				$(this).addClass("selected");
				selected_id = $(this)[0].id;
				var selected_name = $(this).html();
				if (selected_name == 'General'){
					$('#post_text').show();
					$('.knots').hide();
					$('.spot').hide();
				}
				else if (selected_name == 'Report'){
					$('#post_text').show();
					$('.knots').show();
					$('.spot').show();
				}
				else {
					$('#post_text').hide();
					$('.knots').hide();
					$('.spot').hide();
				}
			});
			// post button is disabled without text
			$("#post_text").keyup(function(){
				$("#submit_post")[0].disabled = (this.value == "");
			});

			$("#submit_post").click(function(){
				var errors=[]
				var data={	'text': $("#post_text").val(),
						'post_type':selected_id,
						'type_name': $(".types .selected").html(),
						}
				if (data.type_name == 'Report'){
					var knots = $(".knots").find(":selected").val();
					var spot = $(".spot").find(":selected").html();
					if (knots == "") errors.push("Missing wind speed!");
					if (spot == "") errors.push("Missing spot!");
					if (errors.length == 0){
						data.knots = Number(knots);
						data.spot_name = spot;
					}
				}
				if (errors.length > 0){
					$('#post_state').html(errors.join("</br>"));
					return
				}
				$.post("api/post/add/", data, function(res){
					if (res.status == 'OK'){
						$("#post_text").val('');
						$("#post_state").empty();
						$(".knots select")[0].value=0;
						$(".spot select")[0].value=0;
					}
					else{
						//add error
						if (res.error){
							$("#post_state").html(res.error);
						}
						else{
							$("#post_state").html("unknown error when attempting to post");
						}
					}
				});//end $.post
				// TODO: get rid of this bullshit
				angular.element(document.getElementById('main')).scope().get_posts_from_server();
				angular.element(document.getElementById('main')).scope().$apply();
			});// end submit_post click

		});//end documentready
	</script>
{% endblock %}
{% block body %}
	<div id="angularApp" ng-app="DonkidikApp">
	<div id="main" ng-controller="PostsPageController" ng-cloak>
		<div class="add_post">
			<div class="types">
				<ul></ul>
			</div>
			<div class="post_content">
				<input type="text" id="post_text" placeholder="let us know!"/>
				<input type="button" class="btn btn-default" id="submit_post" value="post" disabled="true"/>
				<div class="spot">
					<select>
					</select>
				</div>
				<div class="knots">
					<select>
					</select>
				</div>
				<div id="post_state"></div>
			</div>
		</div>
		<div class="post_list" ng-repeat='post in posts'>
			<div class="post" id="[[post.post_id]]">
				<div class="[[post.post_type]]">
					<div class="user">
						[[post.post_type]] by <a href="user/[[post.author.id]]/">[[post.author.name]]</a>
					</div>
					<div class="timestamp">
						[[post.date[0] ]]/[[post.date[1] ]]/[[post.date[2] ]]
					</div>
				</div>
				<div class="post_report" ng-show="post.knots">
					[[post.knots]] knots at <a href="/spots/[[post.spot_id]]/">[[post.spot]]</a>
				</div>
				<div class="post_text" ng-show="post.text">[[post.text]]</div>
				<div class="actions">
				Rank: [[post.score]]
	  				<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-click="post_upvote(post,{{user.pk}})" ng-class="{clickedgreen: post.upvotes.indexOf({{user.pk}})!=-1 }"></span>
	  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click=post_downvote(post,{{user.pk}}) ng-class="{clickedred: post.downvotes.indexOf({{user.pk}})!=-1 }"></span>
	  				<span class="glyphicon glyphicon-remove" ng-click="remove_post(post.post_id)"></span>
				</div>
					<div class="comment_container" ng-show="post.comments.length && post.more" ng-repeat='comment in post.comments'>
						<div class="comment">
							<div class="user" id="[[comment.user_id]]">
								[[comment.user]]
							</div>
							<div class="comment_text">
								[[comment.text]]
							</div>
						</div>
					</div>
					<div class="comment_container" ng-show="post.comments.length && !post.more" ng-repeat='comment in post.comments.slice(-3)'>
						<div class="comment">
							<div class="user" id="[[comment.user_id]]">
								[[comment.user]]
							</div>
							<div class="comment_text">
								[[comment.text]]
							</div>
						</div>
					</div>
					<div class="more" ng-if="post.comments.length > 3 && !post.more" ng-click="change_more(post)" cursor="pointer">[[post.comments.length-3]] more comments...</div>
					<div class="more" ng-if="post.comments.length > 3 && post.more" ng-click="change_more(post)" cursor="pointer">Less...</div>
					<div class="new_comment">
					<input type="text" class="form-control new_comment_text" placeholder="Comment..." ng-model="comment.new_comment_text"/>
					<input type="button" class="btn btn-default submit_comment" ng-disabled="!comment.new_comment_text" ng-click="add_post_comment(post.post_id,comment.new_comment_text)" value="Add"/>
				</div>
			</div>
		</div>
	</div>
	</div> 
{% endblock %}