<!doctype html>
<html ng-app="donkidik">
<title>DonkiDik</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="/static/css/post.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script type="text/javascript" src="/static/angular/JSONfixer.js"></script>

<style type="text/css">
		@font-face {font-family: logo; src: url(/static/fonts/purisa.ttf);}
		.page{}
		.menu{width:150px !important;color:red;}
		.menu .loggedin {margin-bottom: 30px; color:white !important;font-size: 10px !important; text-align: center !important;}
		#logo {font-family: logo; color:white; text-align: center; margin-top:30px; margin-bottom:5px;}
		.main{display:inline;}
	</style>
{% block head %}
{% endblock %}
<div class="page_container">
	<div class="page">
		<div class="ui left vertical fixed inverted menu">
			<div id="logo_container">
				<h1 id="logo">donkidik</h1>
				<div class="item loggedin">
					logged in as {{user.first_name}}
				</div>
	 		</div>
	 		<a class="feed item" href="/">Feed</a>
	 		<a class="profile item" href="/user/{{user.id}}/">My Profile</a>
  			<a class="fcst item disabled">Forecasts</a>
  			<a class="mkt item disabled">Market</a>
  			<a class="lf item disabled">Lost & Found</a>
  			<a class="mdia item disabled">Media</a>
  			<a class="lgt item" href="/api/logout/">Logout</a>
		</div>
		<div class="main">
	  	{% block body %}{% endblock %}
	  	</div>
	</div>
</div>
<script>
	$(function(){
		$('a.item.{% block menu_css %}{% endblock %}').addClass('active');
	});
</script>
</html>