{% extends "layout.html" %}
{% block head %}
<style type="text/css">
		style{display:block !important;}
		#main input[type="text"], #main input[type="name"], #main input[type="password"]{margin:5px 0; padding: 5px;}

		#main {display:block; width: 100%; top:100px; background: #E2E2E2; padding: 100px 33.3%;}
		#main .add_post {padding: 20px 0; padding-bottom: 10px; height: 150px;}
		#main .add_post .types {color: black; background:none;}
		#main .add_post .types ul {list-style: none; padding:0; margin:0;}
		#main .add_post .types ul li {display:inline; padding: 5px;}
		#main .add_post .types ul li:hover {color:white; background: grey;}
		#main .add_post .types .selected, #main .add_post .types .selected:hover {color:white; background: black;}
		#main .add_post #post_state {color:red; font-size: 12px}
		
		#main .post_list .post {border: solid 1px; font-size: 16px; margin-top:10px;padding: 10px; background: white;}
		#main .post_list .post .user {display:inline-block;margin-left: 5px;}
		#main .post_list .post .user a {color: white;font-weight: bold;}
		#main .post_list .post .user a:hover {color: teal; background: white; text-decoration: none;}
		#main .post_list .post .timestamp {display:inline-block; float:right; margin-right: 5px;}
		#main .post_list .post .Report {background: teal; color:white;}
		#main .post_list .post .post_text {padding: 10px;}
		#main .post_list .post .General {background: orange; color:white;}
		#main .post_list .post .text {display: block; margin: 5px;}
		#main .post_list .post .post_report {display: block; margin: 5px;}
		#main .post_list .post .post_report a {color: black;}
		#main .post_list .post .post_report a:hover {color: white; background: black; text-decoration: none;}
		#main .post_list .post .more {cursor: pointer;}
		.post {}
		.post .user {}
		.post .post_text {}
		.post .comment_text {padding: 5px;}
		.post .comment .user, .post .comment .comment_text {display: inline-block;}
		.post .actions {border-top: solid 1px; border-bottom: solid 1px; margin:0;padding:0; cursor: pointer;}
		.comment_container { margin: 5px; background-color:#f6f7f9;  font-size: 15px}
		.actions {}
		.glyphicon {font-size: 15px; padding: 5px 10px;}
		.glyphicon:hover {color:teal; background:black;}
		.clickedred {font-size: 15px; padding: 5px 10px; color:red;}
		.clickedgreen {font-size: 15px; padding: 5px 10px;color:green;}
	</style>
{% endblock %}
{% block body %}
<div id="main">welcome to </div>
helllllo?
<br>
<br>
hello!
{% endblock %}